@model IEnumerable<HandMade.Models.Product>
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "الصفحة الرئيسية";
}

<br />
<div class="row" style="width:100%;margin:auto; text-align:center; ">
    <p style="text-align:center; width:100%; ">
        <img style="text-align:center; max-height:300px" src="~/Content/imgs/homepicture.png"
             alt="ASP.NET" />
    </p>

</div>

<hr />

<br/>

<div style="width:100%; text-align:center">
    <p style="text-align:center">
        <input type="button" class="btn btn btn-outline-success" style="padding:5px 8px;"
               value="إبدأ بالتسوق"
               onclick="location.href='@Url.Action("Index", "Product",null )'" />
    </p>
</div>
<br />
    
<div class="row">
    <div class="col-6">
        <h3>من إختيارنا</h3>
    </div>
</div>

<hr />


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4" style="margin: 0px">
            <div class="card" style="">
                <div class="card-img-top">
                    <div class="mainImgCorp" style="height: 200px ; width: 100%;transform: translateX(-10px); background-image:url(../../ProductPicture/@item.Pictures.FirstOrDefault().Path);"></div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.SmallDisc</p>
                    <hr />
                    <div class="row">
                        <div class="col-4">
                            <p class="card-text" style="transform:translateY(5px)">
                                @item.Price ر.س
                            </p>
                        </div>
                        <div class="col-8" style="text-align:left">
                            <input type="button" class="btnPrimaryOutline2" style="padding:5px 8px;"
                                   value="تفاصيل"
                                   onclick="location.href='@Url.Action("Details", "Product", new { productId = item.Id })'" ) />
                            &nbsp;
                            <input type="button" class="btnPrimaryOutline3" style="padding:5px 8px;"
                                   value="إضافة للسلة"
                                   onclick="location.href='@Url.Action("AddToCart", "Product", new { productId = item.Id })'" ) />
                        </div>
                    </div>


                </div>
            </div>
        </div>
    }


</div>








