@model HandMade.Models.ViewModel.ProductList
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "قائمة المنتجات";
}
    <div class="row">
        @{
            <div class="imgCorp" style="background-image:url(../../ProfilePicture/@Model.Products.FirstOrDefault().Account.ImagePath); opacity:1" onclick="myFunction(this)"></div>
            <h3>&nbsp; &nbsp;   </h3>
            <h3 style="transform:translateY(20px)">قائمة منتجات @Model.Products.FirstOrDefault().Account.FullName</h3>
        }
    </div>
<hr />
<br />
<div class="row">

    <div class="col-md-8">
        @{
            foreach (var product in Model.Products.Where(m => m.Stock > 0).ToList())
            {
                if (product.Stock < 10 && product.Stock > 2)
                {
                    <div class="announc" style="text-align:center">
                        <p style="color:white; transform:translateY(5px)">أخر @product.Stock قطع</p>
                    </div>
                }
                if (product.Stock == 2)
                {
                    <div class="announc" style="text-align:center">
                        <p style="color:white; transform:translateY(5px)">أخر قطعتين</p>
                    </div>
                }
                if (product.Stock == 1)
                {
                    <div class="announc" style="text-align:center">
                        <p style="color:white; transform:translateY(5px)">أخر قطعة</p>
                    </div>
                }
                <div class="containInCon2">

                    <div class="row">
                        <div class="col-8">
                            <div style="min-height:140px;max-height:140px; overflow:hidden">
                                <div class="row">
                                    <div class="col-7">
                                        @product.Name
                                    </div>
                                    <div class="col-5" style="justify-content:left">
                                        @{

                                            if (product.Reviews.Count > 0)
                                            {
                                                float total = 0;
                                                float average = 5;
                                                foreach (var rev in product.Reviews)
                                                {
                                                    total = total + rev.Rating;
                                                }
                                                average = total / product.Reviews.Count;

                                                <div class="row" style="justify-content:left; padding: 0 20px;">
                                                    <p style="transform:translateY(-3px)">(@product.Reviews.Count)</p> &nbsp;  &nbsp;

                                                    @for (int i = 0; i < 5; i++)
                                                    {

                                                        if (average < 0)
                                                        {
                                                            <img src="~/Content/imgs/zeroStar.png"
                                                                 style="max-height:20px"
                                                                 alt="ASP.NET" class="img-responsive" />
                                                        }
                                                        else if (average < 0.51 && average > 0)
                                                        {
                                                            <img src="~/Content/imgs/halfStar.png"
                                                                 style="max-height:20px"
                                                                 alt="ASP.NET" class="img-responsive" />
                                                        }
                                                        else
                                                        {
                                                            <img src="~/Content/imgs/fullStar.png"
                                                                 style="max-height:20px"
                                                                 alt="ASP.NET" class="img-responsive" />
                                                        }

                                                        average = average - 1;

                                                    }
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="row" style="justify-content:left; padding: 0 20px;">
                                                    <p style="transform:translateY(-3px)">(0)</p>&nbsp;  &nbsp;

                                                    @for (int i = 0; i < 5; i++)
                                                    {
                                                        <img src="~/Content/imgs/noStar.png"
                                                             style="max-height:20px"
                                                             alt="ASP.NET" class="img-responsive" />
                                                    }
                                                </div>
                                            }

                                        }
                                    </div>
                                </div>
                                <p style="color:gray;transform:translateY(-15px)">@product.SmallDisc</p>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    @{
                                        if (product.DiscountPercentage != null && product.DiscountPercentage > 0)
                                        {
                                            double? discountedValue = product.DiscountPercentage * product.Price / 100;
                                            double? newPrice = product.Price - discountedValue;
                                            double? result = newPrice.HasValue
                                               ? (double?)Math.Round(newPrice.Value, 2)
                                               : null;
                                            <div class="">
                                                <div class="col row" style="transform:translateY(-7px) translateX(16.5px);position:relative">
                                                    <span style="font-size:13px;transform:translateY(-13px);padding:0 15px; color: red; opacity:0.5"> سابقا </span> &nbsp;
                                                    <div style="transform:translateY(-17px) translateX(15px);">
                                                        <span class="strikeout" style="font-size:15px; color: red; opacity:0.5">@Math.Round(product.Price, 2)  ر.س</span>
                                                    </div>
                                                    <h3 style="transform:translateY(-19px)">&nbsp; @result ر.س</h3>
                                                </div>
                                                <div class="col" style="padding:0; transform:translateX(20px);">


                                                </div>

                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col row" style="transform:translateY(-7px) translateX(16.5px);position:relative">
                                                <span style="font-size:13px;transform:translateY(-13px);padding:0 15px; color: white; opacity:0.5"> سابقا </span> &nbsp;
                                                <div style="transform:translateY(-17px) translateX(15px);">
                                                    <span style="font-size:15px; color: white; opacity:0.5">mmmmmر.س</span>
                                                </div>
                                                <h3 style="transform:translateY(-19px)">&nbsp; @Math.Round(product.Price, 2) ر.س</h3>
                                            </div>

                                        }
                                    }

                                </div>
                                <div class="col-6" style="justify-content:left">
                                    <div class="row" style="justify-content:left; padding: 0 10px;">
                                        <input type="button" class="btn btn-outline-info"
                                               value="تفاصيل أكثر"
                                               onclick="location.href='@Url.Action("Details", "Product", new { productId = product.Id })'" />   &nbsp;
                                        <input type="button" class="btn btn-success"
                                               value="إظافة للسلة"
                                               onclick="location.href='@Url.Action("AddToCart", "Product", new { productId = product.Id })'" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4" style="text-align:left">
                            @{
                                System.Drawing.Bitmap bitmap = new System.Drawing.Bitmap(HttpContext.Current.Server.MapPath("~/ProductPicture/" + product.Pictures.FirstOrDefault().Path));

                                int iWidth = bitmap.Width;
                                int iHeight = bitmap.Height;

                                string maxSize = "max-height: 180px; width: auto";

                                if (iWidth < iHeight) { maxSize = "max-width: 220px; height: auto;"; }
                            }
                            <i class="ProductListImg">
                                <img src="~/ProductPicture/@product.Pictures.FirstOrDefault().Path"
                                     style="@maxSize"
                                     alt="ASP.NET" class="img-responsive" />
                            </i>
                        </div>
                    </div>
                </div>
                <br />
            }
        }
    </div>
    <div class="col-md-4">

        <div class=" containInCon" style="padding:25px; margin:0 10px; border-radius:10px" ">
            بيانات صاحب المتجر

            <hr />
            <div class="row" style="margin-top:-10px; display:none">
                <div class="col-auto">
                    <img src="~/Content/imgs/user.png"
                         style="max-height:25px"
                         alt="ASP.NET" class="img-responsive" />
                </div>
                <div class="col">
                    @Model.Products.FirstOrDefault().Account.FullName
                </div>
            </div>
            <br />
            <div class="row" style="margin-top:-10px">
                <div class="col-auto">
                    <img src="~/Content/imgs/user.png"
                         style="max-height:25px"
                         alt="ASP.NET" class="img-responsive" />
                </div>
                <div class="col">
                    @Model.Products.FirstOrDefault().Account.FullName
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-auto">
                    <img src="~/Content/imgs/call.png"
                         style="max-height:25px"
                         alt="ASP.NET" class="img-responsive" />
                </div>
                <div class="col">
                    @Model.Products.FirstOrDefault().Account.PhoneNumber
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-auto">
                    <img src="~/Content/imgs/mail.png"
                         style="max-height:25px"
                         alt="ASP.NET" class="img-responsive" />
                </div>
                <div class="col">
                    @Model.Products.FirstOrDefault().Account.Email
                </div>
            </div>
            <br />

            <br />
            <br />

            تفاصيل العنوان والشخن:
            <hr />
            <div class="row">
                <div class="col">
                    المدينة:  &nbsp;
                    @Model.ShippingCost.City
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    الشحن داخل المدينة:
                    @Model.ShippingCost.IsInCityShipping
                </div>
                @if (Model.ShippingCost.IsInCityShipping)
                {
                    <div class="col" style="text-align:left">
                        &nbsp;  سعر الشخن :
                        @Model.ShippingCost.InCityCost
                    </div>
                }

            </div>

            <br />
            <div class="row">
                <div class="col">
                    الشخن خارج المدينة:
                    @Model.ShippingCost.IsOutCityShipping
                </div>
                @if (Model.ShippingCost.IsOutCityShipping)
                {
                    <div class="col" style="text-align:left">
                        &nbsp;  سعر الشخن :
                        @Model.ShippingCost.OutCityCost
                    </div>
                }
            </div>
            <hr />

            <input type="button" class="btn btn-outline-dark"
                   value="دردشة مباشرة"
                   id="liveChatButton" />

            <br />


        </div>
    </div>

    @using System.Globalization;


    <script>

                       var senderId = '@Model.Products.FirstOrDefault().AccountId';

         $("#liveChatButton").click(function() {


                            var htmlstring = document.getElementById("chatPlace").innerHTML;

  // use the native .trim() if it exists
  //   otherwise use a regular expression
htmlstring = (htmlstring.trim) ? htmlstring.trim() : htmlstring.replace(/^\s+/,'');


                            if (htmlstring == '') {

                                  document.getElementById("chatPlace").innerHTML = document.getElementById("chatPlace").innerHTML + "   <div class='containInCon' id'cont" + senderId +"' style='width:400px; margin: 25px; background-color:white; padding:10px'>" +
                                          " <div class='row'> " + 
                                      " <div class='col'  style='text-align:right'> " +
                                                                            " <p style='color:black;margin:0 10px; padding:10px 5px 0px 5px' id='messageHead' class='" + senderId + "'>" + '@Model.Products.FirstOrDefault().Account.FullName' + "</p> " +

                                        "</div> " +
                "<div class='col' style='text-align:left'>" +
                    "<p style='text-align:left; margin: 0 10px'>" +
                        "<button style='background-color:transparent; border:none; color:gray; margin:0; padding: 5px 10px;' id='closeMsg'>X</button>" +
                    "</p>" +
                "</div>" +
           " </div>" +
                                                                                    "<hr />" +
                                                                                    "<div style='height:400px; max-height:400px;overflow-y: auto; direction:rtl' id='messageArea" + senderId +"'>" +

                                                                                    "</div>" +
                                                                                    "<hr />" +
                                                                                   " <div class='row' style='transform:translateX(-25px); padding:0px 5px 10px 5px'>" +
                                                                                      "  <input type='text' class='form-control col' id='messageContent" + senderId +"' style='max-width:280px' />" +
                                                                                        "<div style='width:10px'></div> " +
                                                                                        "<button class='btn btn-outline-dark col' id='messageButton" + senderId +"' style='max-width:70px'>إرسال</button>" +
                                                                                   " </div>" +

                                    "</div>";


                                 $("#closeMsg").click(function () {

                                    document.getElementById("chatPlace").innerHTML = "";

                                 })

                                $("#messageButton" + senderId).click(function () {

                                    var urlVal2 = '@Url.Action("postChat","Home", null)';

                                    if (document.getElementById('messageContent' + senderId).value != "") {

                                        var msgValue = document.getElementById('messageContent' + senderId).value;
                                        document.getElementById('messageContent' + senderId).value = "";

                                        if (msgValue != "") {

                                            var settings = {
                                                "url": urlVal2,
                                                "method": "POST",
                                                "timeout": 0,
                                                "headers": {
                                                    "Content-Type": "application/json"
                                                },
                                                "data": JSON.stringify({ "SendToId": senderId, "Message": msgValue }),
                                            };

                                            $.ajax(settings).done(function (response) {


                                                document.getElementById("messageArea" + senderId).innerHTML = document.getElementById("messageArea" + senderId).innerHTML +
                                                    "<div style='text-align:right; margin:0 10px'> " +
                                                    "<p style='margin-bottom:0; color:gray; text-decoration:wavy; font-size:12px'>" + '@DateTime.Now.ToString("tt hh:mm", CultureInfo.InvariantCulture)' + "</p>" +
                                                    "<p style='margin-top:2px;display: inline-block;padding:5px 10px; border-radius: 10px 0px 0px 10px; max-width:270px; border:solid 1px mediumpurple; color:mediumpurple'> " +
                                                    msgValue +
                                                    "</p> </div>";

                                                $("#messageArea" + senderId).scrollTop($("#messageArea" + senderId)[0].scrollHeight);



                                            });;
                                        }

                                    }

                                })
            };

                            })
    </script>


</div>
