@model HandMade.Models.ViewModel.ChangePassword

@{
    ViewBag.Title = "SignIn";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div style="margin:auto;">
        <div class="containe">
            <br />
            <div class="containInCon">
                <h3 style="margin:10px 0;">تغيير كلمة المرور</h3>
                <br />
                <br />
                @Html.PasswordFor(model => model.OldPAssword, new { @class = "form-control", @placeholder = "كلمة المرور القديمة" })
                @Html.ValidationMessageFor(model => model.OldPAssword, "", new { @class = "text-error" })
<hr/>
                @Html.PasswordFor(model => model.NewPAssword, new { @class = "form-control", @placeholder = " كلمة المرور الجديدة" })
                @Html.ValidationMessageFor(model => model.NewPAssword, "", new { @class = "text-error" })
                <div style="height:15px;"></div>
                @Html.PasswordFor(model => model.ConfirmNew, new { @class = "form-control", @placeholder = " تأكيد كلمة المرور الجديدة" })
                @Html.ValidationMessageFor(model => model.ConfirmNew, "", new { @class = "text-error" })
                <hr />
                @if (Model.Error != null)
                {
                    <p style="color:red; font-size:14px;">@Model.Error</p>
                }
                <input type="submit" class="btn btnPrimary" value="حفظ" style="width:100%" />
                <br />
                <br />
                
            </div>
        </div>

        <br />
        <br />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
