@model IEnumerable<HandMade.Models.Order>

@{
    ViewBag.Title = "MyOrders";
}

<h3>طلباتي</h3>

<hr/>

@{ 
    if (Model.Count() > 0)
    {
        foreach (var order in Model)
        {
            <div class="containInCon" style="padding:20px">
                <div class="row" style="transform:translateX(-25px)">
                    <div class="col-6 row">
                        <h3> #  @order.Number &nbsp;</h3>  <p style="background-color:lightseagreen; padding: 5px">@order.Status</p>
                    </div>
                    <div class="col-6" style="text-align:left">
                        @order.OrderDate
                    </div>
                </div>
                <hr/>
                 <div class="row" style="transform:translateX(-25px)">
                     <div class="col-8 row">
                         <div  style="transform:translateY(5px) translateX(-25px)" class="row">
                             <p>
                                 مجموع الطلبات<h5>&nbsp; @order.ProductTotal</h5>&nbsp; &nbsp; &nbsp;الضريبة<h5>&nbsp; @order.VatTotal</h5>
                                 &nbsp;&nbsp; &nbsp; الشحن<h5>&nbsp; @order.ServiceTotal</h5>&nbsp; &nbsp; &nbsp; المجموع الكلي
                             </p>
                         </div>                         
                        <h3 style="transform:translateX(-50px)"> @order.Total</h3>
                     </div>  
                    <div class="col-4" style="text-align:left;">
                        <p  style="text-align:left">
                            
                            <input type="button"  style="float:left" class="btnPrimaryOutline"
                                   value="تفاصيل الطلب"
                                   onclick="location.href='@Url.Action("OrderDetails", "Account", new { orderNumber = order.Number })'" />
                        </p>
                       
                    </div>
                </div>
            </div>
            <br/>
        }

    }else
    {
        <div class="row" style="width:100%; text-align:center">
            <h6>لا توجد لديك طلبات</h6>
        </div>
        

    }
}